body {
     color: white;
     background: black;
     margin: 0px;
     font-family: "Chakra Petch",sans-serif;
}

header{
    border-bottom: sold 2px rgb(42,122 ,228);
    padding: 20px;    
    font-size: ;
